# Dependencies
node_modules

# Build outputs
dist
dist-ssr
build
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test
.nyc_output

# Temp
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
