@charset "UTF-8";
:root {
  --background: #fafaf8;
  --item: #ffffff;
  --action: #f6f6f3;
  --border: #e7e5e4;
  --main-text: #1f2937;
  --sub-text: #6b7280;
  --placeholder-text: #9ca3af;
  --green: #4f7663;
  --blue: #4a6cf7;
}
